
.notification {
    opacity: 0;
    z-index: 150;
    visibility: hidden;
    position: fixed;
    bottom: 100px;
    left: 42%;
    transform: translate(0, 500px);
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 14px 0px rgb(96, 97, 98);
    color: #fff;
    background-color: #fff;
    transition: 0.5s;


}

@media (max-width: 1200px) {
    .notification {
        left: 33%;
    }
}

@media (max-width: 600px) {
    .notification {
        width: 100%;
        left: 0;
    }
}

.notification.visible {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);


}

.notification.green {
    background-color: #5fa36a;
}

.notification.red {
    background-color: #ca5252;
}