@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}



body {
    background-color: #333;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

body.lock {
    overflow: hidden;
}

.wrapper {
    width: 70vw;
    margin: 10% auto;
    padding-top: 5px;
}

@media (max-width: 1200px) {
    .wrapper {
        width: 90%;
    }
}



.presentation {
    margin: 50px 0;
    background-image: url('./imgs/bg.jpg');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;

    &::after {
        color: #fff;
        content: "The best stuff for your home";
        position: absolute;
        top: 100px;
        left: 50px;
        width: 300px;
        font-size: 40px;
        font-weight: 600;
    }

    &::before {
        color: #fff;
        content: "at low prices";
        position: absolute;
        top: 200px;
        left: 50px;
        width: 300px;
        font-size: 25px;
        font-weight: 300;

    }
}


.search-block {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    padding: 10px;
    transition: 0.3s;
    font-size: 1.2rem;
    width: 50%;
    border-radius: 15px;
    outline: none;
}

 

.search-button {
    width: 70px;
    height: 45px;
    padding: 10px;
    background-color: #5fa36a;
    border: 0;
    margin-left: 5px;
    color: #fff;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: 600;
    font-size: 0.95rem;
}

.search-button:hover {
    opacity: 0.5;
}

@media (max-width: 800px) {
    .presentation {
        &::after {
            top: 100px;
            left: 25px;
            width: 250px;
            font-size: 30px;

        }

        &::before {

            top: 175px;
            left: 25px;
            width: 250px;
            font-size: 25px;


        }
    }


}

@media (max-width: 900px) {
    .input {
        width: 100%;
    }
}

main {
    display: flex;
    flex-wrap: wrap;

    width: 100%;

}



main h2,
main p,
main b {
    margin: 10px 20px;
    color: #333;
}



main b{
    color: #5fa36a;
}







footer {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 100px;
}





.notification {
    opacity: 0;
    z-index: 150;
    visibility: hidden;
    position: fixed;
    bottom: 100px;
    left: 35%;
    transform: translate(0, 500px);
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 14px 0px rgb(96, 97, 98);
    color: #fff;
    background-color: #fff;
    transition: 0.5s;


}

/* @media (max-width: 1200px) {
    .notification {
         left: 37%; 
    }
}
 */

@media (max-width: 600px) {
    .notification {
        width: 100%;
        left: 0;
    }
}

.notification.visible {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);


}

.notification.green {
    background-color: #5fa36a;
}

.notification.red {
    background-color: #ca5252;
}